<launch>        
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_tracker)/urdf/pi_robot.urdf.xacro'" />
    <param name="/use_sim_time" value="False" />
 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <param name="publish_frequency" value="20.0"/>
    </node>
    
    <include file="$(find openni_launch)/launch/kinect_frames.launch" />

    <node name="skeleton_tracker" pkg="pi_tracker" type="skeleton_tracker">
        <rosparam command="load" file="$(find pi_tracker)/params/tracker_params.yaml" />
    </node>

        <node pkg="tf" type="static_transform_publisher" name="base_world_broadcaster" args="0 0 0 0 0 0 /base_link /world 100" />
</launch>
