bin/
build/
lib/
devel/
data/templates
data/test

*.aux
*.dvi
*.log
*.synctex.gz
*.tex.bak
*.pdf
*.toc
*.bbl
*.toc.bak
*.blg
*.png
*.svg
*.jpeg
*.dia~
*.txt.user
*.ps
msg_gen/
img/
*.pyc
msg_gen/*
src/ocular/*

