<launch>

    <arg name="fixed_frame" value="camera_depth_frame" />
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_tracker)/urdf/pi_robot.urdf.xacro'" />
    <param name="/use_sim_time" value="False" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" value="20.0"/>
    </node>

<!--    <include file="$(find openni_launch)/launch/kinect_frames.launch" />-->

    <include file="$(find openni_launch)/launch/openni.launch">
        <arg name="depth_registration" value="false" />
    </include>

    <node name="skeleton_tracker" pkg="pi_tracker" type="skeleton_tracker">
    <param name="fixed_frame" value="$(arg fixed_frame)" />
    <param name="load_filepath" value="$(find pi_tracker)/params/SamplesConfigNewOpenNI.xml" />
    </node>

<!--	CONVERTER NODE: -->
    <node pkg="TFG" type="converter" name="converter" args="right input:=/skeleton output:=/TFG/hand_loc"/>
    
<!--    ROI SEGMENTER -->

<!--			3D-->
    <node pkg="TFG" type="roi_segmenter3D"  name="roi_segmenter3D" args="input:=/camera/depth/points input_coord:=/TFG/hand_loc output_cloud:=/TFG/ROI3D output_coord:=/TFG/ROI_coord"/>
    
<!--    		2D-->
    <node pkg="TFG" type="roi_segmenter2D"  name="roi_segmenter2D" args="input:=/camera/rgb/image_color input_coord:=/TFG/ROI_coord output:=/TFG/ROI2D"/>
    

<!--	FEATURE EXTRACTOR-->

<!--    		2D-->
	<node pkg="TFG" type="featureextractor2D" name="featureextractor2D" args="input_r_image:=/TFG/ROI2D_r input_l_image:=/TFG/ROI2D_l"/>
		
<!--	VIEW IMAGES-->
    <node pkg="TFG" type="image_view"  name="ROI2D" args="image:=/TFG/ROI2D"/>

        
<!--    <node pkg="image_view" type="image_view"  name="kinect_image" args="image:=/camera/rgb/image_color"/>-->


</launch>
