<launch>

    <arg name="fixed_frame" value="camera_depth_frame" />
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_tracker)/urdf/pi_robot.urdf.xacro'" />
    <param name="/use_sim_time" value="False" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" value="20.0"/>
    </node>

<!--    <include file="$(find openni_launch)/launch/kinect_frames.launch" />-->

    <include file="$(find openni_launch)/launch/openni.launch">
        <arg name="depth_registration" value="false" />
    </include>

    <node name="skeleton_tracker" pkg="pi_tracker" type="skeleton_tracker">
    <param name="fixed_frame" value="$(arg fixed_frame)" />
    <param name="load_filepath" value="$(find pi_tracker)/params/SamplesConfigNewOpenNI.xml" />
    </node>
    

<!--	CONVERTER NODE: -->
    <node pkg="TFG" type="converter" name="converter" args="skeleton:=/skeleton hand_location:=/TFG/CONVERTER/hand_location"/>
    
<!--    ROI SEGMENTER -->

<!--			3D-->
    <node pkg="TFG" type="roi_segmenter3D"  name="roi_segmenter3D" args="original_pc:=/camera/depth/points hand_location:=/TFG/CONVERTER/hand_location segmented_pc:=/TFG/ROI3D/segmented_pc segmented_coordinates_px:=/TFG/ROI3D/segmented_coordinates_px event:=/TFG/EVENTHANDLER/event"/>
    
<!--    		2D-->
    <node pkg="TFG" type="roi_segmenter2D"  name="roi_segmenter2D" args="original_image:=/camera/rgb/image_color segmented_coordinates_px:=/TFG/ROI3D/segmented_coordinates_px segmented_image:=/TFG/ROI2D/segmented_image"/>
    

<!--	FEATURE EXTRACTOR-->

<!--    		2D-->
	<node pkg="TFG" type="featureextractor2D" name="featureextractor2D" args="segmented_image:=/TFG/ROI2D/segmented_image descriptors2D:=/TFG/FE2D/descriptors2D image_with_keypoints:=/TFG/ROI2D/segmented_image_with_keypoints"/>
		
<!--    		3D-->
	<node pkg="TFG" type="featureextractor3D" name="featureextractor3D" args="segmented_pc:=/TFG/ROI3D/segmented_pc descriptors3D:=/TFG/FE3D/descriptors3D"/>

<!--	EVENT HANDLER-->
	<node pkg="TFG" type="event_handler" name="event_handler"  args="event:=/TFG/EVENTHANDLER/event skeleton:=/skeleton" />

<!--	LEARNER RECOGNIZER-->
<!--	<node pkg="TFG" type="learner_recognizer" name="learner_recognizer" args="descriptors2D:=/TFG/FE2D/descriptors2D object_id:=/TFG/object_id event:=/TFG/EVENTHANDLER/event descriptors3D:=/TFG/FE3D/descriptors3D"/>-->


<!--	IMAGE VIEW-->

<!--		TRANSFORM FROM HAND_IMAGE CUSTOM MSG TO ROS IMAGE-->
		<node pkg="TFG" type="image_view" name="from_hand_msg_to_image_msg" args="image_in:=/TFG/ROI2D/segmented_image image_out:=/TFG/ROI2D/segmented_image_ROS_type"/>
		
<!--		VIEW SEGMENTED HAND IMAGE-->
   		<node pkg="image_view" type="image_view"  name="hand_image" args="image:=/TFG/ROI2D/segmented_image_ROS_type"/>
   		
<!--   		VIEW 2D KEYPOINTS-->
<!--		<node pkg="image_view" type="image_view"  name="hand_image_with_keypoints" args="image:=/TFG/ROI2D/segmented_image_with_keypoints"/>-->
		
		
<!--	KINECT ORIGINAL IMAGE-->
<!--    <node pkg="image_view" type="image_view"  name="kinect_image" args="image:=/camera/rgb/image_color"/>-->


</launch>
